@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

.title
{
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background: #fc6;
}

.md-contents
{
    border: solid 3px #000000;
    font-family: 'Noto Sans JP', sans-serif;
}